footer {
    background-color: #343a40!important;
    text-align: center;    
    width: 100%; 
    height: 100%;
    padding-top: 20px;
}   

.rightcontainer {
    padding-left: 10%;
}

.tall {
    padding-top: 40px;
    padding-left: 65px;
    float: left;
}


.card-title {
    text-align: center;
}

a {
    color: black;
    text-decoration: none !important;
}
a:hover {
color: #99CC99;
}

.samyang {
    width: 200px;
}

.matlogo {
    width: 100px;
}
.section-heading {
    text-align:center;
    font-size: 48px;
    line-height: 48px;
    padding-bottom: 30px;
    color: #333333;
    width: 390px;
    border-bottom: 1px solid #333333;
    text-align: center;
    margin: 0 auto 12px auto;
}

.section-subheading {
    text-align:center;
    font-size: 50px;
    padding-bottom: 30px;
    width: 390px;   
    text-align: center;
    margin: 0 auto 12px auto;
}

.card-text {
    text-align: center;
    font-size: 15px;
    color: grey;
}

.breadcrumb {
     background:  rgba(242, 242, 242, 0);
     border: 0px solid rgba(245, 245, 245, 1); 
     border-radius: 4px; 
  
 }
.breadcrumb li {
    size: 25px;
}
.breadcrumb a {
    color: grey;
}
.breadcrumb a:hover {
    color: green;
}
.breadcrumb>.active {
    color: rgba(153, 153, 153, 1);
}
