.timeline {
    background: url(/img/timeline.png) no-repeat center center;
    height: 115px;
    width: 1106px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.faseEn {
    margin-left:58px;
    font-size: 18px;
    font-family: 'Cairo', sans-serif;
    width: 100px;
    float: left;
    margin-top: 0px;
    text-align: center;
}

.faseTo {
    margin-left:124px;
    font-size: 18px;
    font-family: 'Cairo', sans-serif;
    width: 100px;
    float: left;
    margin-top: 0px;
    text-align: center;
}

.faseTre {
    margin-left:126px;
    font-size: 18px;
    font-family: 'Cairo', sans-serif;
    width: 100px;
    float: left;
    margin-top: 0px;
    text-align: center;
}

.faseFire {
    margin-left:123px;
    font-size: 18px;
    font-family: 'Cairo', sans-serif;
    width: 100px;
    float: left;
    margin-top: 0px;
    text-align: center;
}

.faseFem {
    margin-left:117px;
    font-size: 18px;
    font-family: 'Cairo', sans-serif;
    width: 120px;
    float: left;
    margin-top: 0px;
    text-align: center;
}

.faseEnBeskrivelse {
    margin-left:7px;
    font-size: 18px;
    font-family: 'Cairo', sans-serif;
    width: 200px;
    float: left;
    margin-top: 50px;
    line-height: 23px;
    text-align: center;
}

.faseToBeskrivelse {
    margin-left: 24px;
    font-size: 18px;
    font-family: 'Cairo', sans-serif;
    width: 200px;
    float: left;
    margin-top: 50px;
    line-height: 23px;
    text-align: center;
}

.faseTreBeskrivelse {
    margin-left: 27px;
    font-size: 18px;
    font-family: 'Cairo', sans-serif;
    width: 200px;
    float: left;
    margin-top: 50px;
    line-height: 23px;
    text-align: center;
}

.faseFireBeskrivelse {
    margin-left: 22px;
    font-size: 18px;
    font-family: 'Cairo', sans-serif;
    width: 200px;
    float: left;
    margin-top: 50px;
    line-height: 23px;
    text-align: center;
}

.faseFemBeskrivelse {
    margin-left: 80px;
    font-size: 18px;
    font-family: 'Cairo', sans-serif;
    width: 100px;
    float: left;
    margin-top: 50px;
    line-height: 23px;
    text-align: center;
}


footer {
    background-color: #343a40!important;
    text-align: center;    
    width: 100%; 
    height: 100%;
    padding-top: 20px;
}   

.rightcontainer {
    padding-left: 10%;
}

.tall {
    padding-top: 40px;
    padding-left: 65px;
    float: left;
}